body {
    background-color: cadetblue;
}

#cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    margin: 10px;
}

#students {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#evilStudents {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#filterButtons {
    display: flex;
    justify-content: space-evenly;
}

.card-img-top-hufflepuff {
    height: 50px;
    width: 100%;
    background-color: maroon;
}

.card-img-top-slytherin {
    height: 50px;
    width: 100%;
    background-color: green;
}

.card-img-top-ravenclaw {
    height: 50px;
    width: 100%;
    background-color: pink;
}

.card-img-top-gryffindor {
    height: 50px;
    width: 100%;
    background-color: yellow;
}

.card-img-top-expelled {
    height: 50px;
    width: 100%;
    background-color: black;
}